@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: black;
  --bg: white;
}

[data-theme="dark"] {
  --text: white;
  --bg: black;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--text);
  background-color: var(--bg);
}
